@charset "UTF-8";
/* 當然可以用自己的 */
/* @import 'compass/reset' */
/* line 136, icons/*.png */
.icons-sprite, .icons-andrew, .icons-default, .icons-doro, .icons-end, .icons-github10, .icons-githubTranding, .icons-hackerNews, .icons-hsuan, .icons-iThomeNews, .icons-iThomeTech, .icons-panda, .ico, .icons-ray {
  background-image: url('../images/icons-s34a7e47597.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-andrew {
  background-position: 0 0;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-default {
  background-position: 0 -600px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-doro {
  background-position: 0 -1652px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-end {
  background-position: 0 -2138px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-github10 {
  background-position: 0 -2188px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-githubTranding {
  background-position: 0 -2248px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-hackerNews {
  background-position: 0 -2308px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-hsuan {
  background-position: 0 -2366px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-iThomeNews {
  background-position: 0 -3106px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-iThomeTech {
  background-position: 0 -3167px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-panda, .ico {
  background-position: 0 -3228px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-ray {
  background-position: 0 -3283px;
}

/* line 10, ../sass/test.sass */
.box {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #333;
  height: 800px;
}

/* line 15, ../sass/test.sass */
.ico {
  width: 42px;
  height: 35px;
}

/* line 20, ../sass/test.sass */
.bg {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAjCAYAAADizJiTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKTWlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVN3WJP3Fj7f92UPVkLY8LGXbIEAIiOsCMgQWaIQkgBhhBASQMWFiApWFBURnEhVxILVCkidiOKgKLhnQYqIWotVXDjuH9yntX167+3t+9f7vOec5/zOec8PgBESJpHmomoAOVKFPDrYH49PSMTJvYACFUjgBCAQ5svCZwXFAADwA3l4fnSwP/wBr28AAgBw1S4kEsfh/4O6UCZXACCRAOAiEucLAZBSAMguVMgUAMgYALBTs2QKAJQAAGx5fEIiAKoNAOz0ST4FANipk9wXANiiHKkIAI0BAJkoRyQCQLsAYFWBUiwCwMIAoKxAIi4EwK4BgFm2MkcCgL0FAHaOWJAPQGAAgJlCLMwAIDgCAEMeE80DIEwDoDDSv+CpX3CFuEgBAMDLlc2XS9IzFLiV0Bp38vDg4iHiwmyxQmEXKRBmCeQinJebIxNI5wNMzgwAABr50cH+OD+Q5+bk4eZm52zv9MWi/mvwbyI+IfHf/ryMAgQAEE7P79pf5eXWA3DHAbB1v2upWwDaVgBo3/ldM9sJoFoK0Hr5i3k4/EAenqFQyDwdHAoLC+0lYqG9MOOLPv8z4W/gi372/EAe/tt68ABxmkCZrcCjg/1xYW52rlKO58sEQjFu9+cj/seFf/2OKdHiNLFcLBWK8ViJuFAiTcd5uVKRRCHJleIS6X8y8R+W/QmTdw0ArIZPwE62B7XLbMB+7gECiw5Y0nYAQH7zLYwaC5EAEGc0Mnn3AACTv/mPQCsBAM2XpOMAALzoGFyolBdMxggAAESggSqwQQcMwRSswA6cwR28wBcCYQZEQAwkwDwQQgbkgBwKoRiWQRlUwDrYBLWwAxqgEZrhELTBMTgN5+ASXIHrcBcGYBiewhi8hgkEQcgIE2EhOogRYo7YIs4IF5mOBCJhSDSSgKQg6YgUUSLFyHKkAqlCapFdSCPyLXIUOY1cQPqQ28ggMor8irxHMZSBslED1AJ1QLmoHxqKxqBz0XQ0D12AlqJr0Rq0Hj2AtqKn0UvodXQAfYqOY4DRMQ5mjNlhXIyHRWCJWBomxxZj5Vg1Vo81Yx1YN3YVG8CeYe8IJAKLgBPsCF6EEMJsgpCQR1hMWEOoJewjtBK6CFcJg4Qxwicik6hPtCV6EvnEeGI6sZBYRqwm7iEeIZ4lXicOE1+TSCQOyZLkTgohJZAySQtJa0jbSC2kU6Q+0hBpnEwm65Btyd7kCLKArCCXkbeQD5BPkvvJw+S3FDrFiOJMCaIkUqSUEko1ZT/lBKWfMkKZoKpRzame1AiqiDqfWkltoHZQL1OHqRM0dZolzZsWQ8ukLaPV0JppZ2n3aC/pdLoJ3YMeRZfQl9Jr6Afp5+mD9HcMDYYNg8dIYigZaxl7GacYtxkvmUymBdOXmchUMNcyG5lnmA+Yb1VYKvYqfBWRyhKVOpVWlX6V56pUVXNVP9V5qgtUq1UPq15WfaZGVbNQ46kJ1Bar1akdVbupNq7OUndSj1DPUV+jvl/9gvpjDbKGhUaghkijVGO3xhmNIRbGMmXxWELWclYD6yxrmE1iW7L57Ex2Bfsbdi97TFNDc6pmrGaRZp3mcc0BDsax4PA52ZxKziHODc57LQMtPy2x1mqtZq1+rTfaetq+2mLtcu0W7eva73VwnUCdLJ31Om0693UJuja6UbqFutt1z+o+02PreekJ9cr1Dund0Uf1bfSj9Rfq79bv0R83MDQINpAZbDE4Y/DMkGPoa5hpuNHwhOGoEctoupHEaKPRSaMnuCbuh2fjNXgXPmasbxxirDTeZdxrPGFiaTLbpMSkxeS+Kc2Ua5pmutG003TMzMgs3KzYrMnsjjnVnGueYb7ZvNv8jYWlRZzFSos2i8eW2pZ8ywWWTZb3rJhWPlZ5VvVW16xJ1lzrLOtt1ldsUBtXmwybOpvLtqitm63Edptt3xTiFI8p0in1U27aMez87ArsmuwG7Tn2YfYl9m32zx3MHBId1jt0O3xydHXMdmxwvOuk4TTDqcSpw+lXZxtnoXOd8zUXpkuQyxKXdpcXU22niqdun3rLleUa7rrStdP1o5u7m9yt2W3U3cw9xX2r+00umxvJXcM970H08PdY4nHM452nm6fC85DnL152Xlle+70eT7OcJp7WMG3I28Rb4L3Le2A6Pj1l+s7pAz7GPgKfep+Hvqa+It89viN+1n6Zfgf8nvs7+sv9j/i/4XnyFvFOBWABwQHlAb2BGoGzA2sDHwSZBKUHNQWNBbsGLww+FUIMCQ1ZH3KTb8AX8hv5YzPcZyya0RXKCJ0VWhv6MMwmTB7WEY6GzwjfEH5vpvlM6cy2CIjgR2yIuB9pGZkX+X0UKSoyqi7qUbRTdHF09yzWrORZ+2e9jvGPqYy5O9tqtnJ2Z6xqbFJsY+ybuIC4qriBeIf4RfGXEnQTJAntieTE2MQ9ieNzAudsmjOc5JpUlnRjruXcorkX5unOy553PFk1WZB8OIWYEpeyP+WDIEJQLxhP5aduTR0T8oSbhU9FvqKNolGxt7hKPJLmnVaV9jjdO31D+miGT0Z1xjMJT1IreZEZkrkj801WRNberM/ZcdktOZSclJyjUg1plrQr1zC3KLdPZisrkw3keeZtyhuTh8r35CP5c/PbFWyFTNGjtFKuUA4WTC+oK3hbGFt4uEi9SFrUM99m/ur5IwuCFny9kLBQuLCz2Lh4WfHgIr9FuxYji1MXdy4xXVK6ZHhp8NJ9y2jLspb9UOJYUlXyannc8o5Sg9KlpUMrglc0lamUycturvRauWMVYZVkVe9ql9VbVn8qF5VfrHCsqK74sEa45uJXTl/VfPV5bdra3kq3yu3rSOuk626s91m/r0q9akHV0IbwDa0b8Y3lG19tSt50oXpq9Y7NtM3KzQM1YTXtW8y2rNvyoTaj9nqdf13LVv2tq7e+2Sba1r/dd3vzDoMdFTve75TsvLUreFdrvUV99W7S7oLdjxpiG7q/5n7duEd3T8Wej3ulewf2Re/ranRvbNyvv7+yCW1SNo0eSDpw5ZuAb9qb7Zp3tXBaKg7CQeXBJ9+mfHvjUOihzsPcw83fmX+39QjrSHkr0jq/dawto22gPaG97+iMo50dXh1Hvrf/fu8x42N1xzWPV56gnSg98fnkgpPjp2Snnp1OPz3Umdx590z8mWtdUV29Z0PPnj8XdO5Mt1/3yfPe549d8Lxw9CL3Ytslt0utPa49R35w/eFIr1tv62X3y+1XPK509E3rO9Hv03/6asDVc9f41y5dn3m978bsG7duJt0cuCW69fh29u0XdwruTNxdeo94r/y+2v3qB/oP6n+0/rFlwG3g+GDAYM/DWQ/vDgmHnv6U/9OH4dJHzEfVI0YjjY+dHx8bDRq98mTOk+GnsqcTz8p+Vv9563Or59/94vtLz1j82PAL+YvPv655qfNy76uprzrHI8cfvM55PfGm/K3O233vuO+638e9H5ko/ED+UPPR+mPHp9BP9z7nfP78L/eE8/sl0p8zAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAVaSURBVHja1JhtTFNXGMf/pYXbdGkloDjTmdlVgdVghmsw1hBiSKdZAslcwJcMifqBLEEIM5nsgzHREkSzBhONG8kytmQaEBAnWVwmZETjZpTaKtEUdYSiRouvQ0pZGf99WO9dC2255WWJ/+Qkt+c59z6/nnvu8zznKEjidVACXhO9NqCqaAaFQiH3GVoA7wBg8DoDwEcARgC0AugB8MesSUlGbFFkBZAZvNYDaAEwFoQkAC5btow5OTk0Go0M6e8EYPg/QN8A0B102gxgHQDu2rWLZWVltFqtbG1t4dOnTzg+Pk5RnsFB2mw2pi1aJALXzTfo7yGzM24wGMZv3LjBaHJev876+nr29/eTJH0+H9euXSveb5sv0I2hr9ZgMPDVq1dRIZuam6nRaAiAGo2GBw4ckGw7duwQn3N8PkA/DAV1Op2MpdLS0tC1SQB8f/VqDt6/T5Ls6emhxWIhgIb5ePUdAJiXl8fpZLfbp4ACYEVFhTSmt7eXSYmJBHBtrkGXA/jzypUr04I2NTVFBLVarWHjuru7RVvTXILmm81mytHFixcjglZWVk4Ze+HCBdFeOleZKWvlypWyBhoMBiQnJ0/pz8/PD/t9584dOBwO2O12QIFGAJ/OxYz+cPToUcrVsWPHwmYzPT2dgUBAsvf19XHx4sUEQJfLxY6ODgLwAnhztqBnbt68KcXEx48fxwR1uVxMSEiQQDs7O8PsxcXFkq2srIwk+dWJEwTwFEDKTEGNRqPxoZhx9u3bRwA8fPhwTFi3281t27bx5MmTYf2egQEu+i9TUaVS0ev1kiQLCgoIoGqmoE179+6VHG3dujViyJGj58+eMT09fcqHVltb+++f8HgoCEIAwJJ4QXcmJiZKqZAka2trw5x0dXXJghz1+ZibmxsxIqSlpXFiYoIkxVRbLBtUoVAsBPDLF9XVYQ59Ph8zMzMlJ2fPnpUFWlJSEhFSbGLtUF1dTQC/yQbV6XR1mzdv9j14+HCK0+HhYR48eJCHDh2SZiKWysvLY0KGgjocDrHPIgtUqVRWAOCePXsYr8bGxqTr/fv3EwB1Oh0VCkVESLVazaGhIemeVatWEcDXctdoEQBmZ2dzZGQkLtC2tjZu315CrVZL8c9OXtuhTa/Xh9Wx7e3tDBbkS+SAqjMyMj6xWCy3AbCxsTEMRnzlfr+fjx49YiDwF69dvcqNGzYwJSWFSqWSa9asYfPp0/R4PDSZTFFBJ9cBJFlVVUUAn0tbo2jbjpA90wc6nW5FIBDIWbp06fbdu3cjIzMT/tFRdHV1Qa1Wg+Rzr9f7wu12Gy5fvgy9Xo8jR46gqKgIKpUK5eXlOH48eglaX1+PysrKKf3Z2dkBp9OZAaBfVmbSarVYsGDBGbEYXm40Misri0lJSRQEgampqVkAFppMpr9HR0f58uVLaWbq6uqm/ZB6e3sjLqG7d+9SEITv5Ab8ZAD3YzgKLdMutbW1SY5qamqmhdy0aVPM9d7Q0EAAmXJAW2M4egAgNWTskvXr198bGBjgli1bpoUMDUuxZDabv5QDejuKE1/I1lkqsJVK5U+CIMiCLCwokBlFWl1yQD+L4ORS8KBBlBnAt3Lg5KzNCHH5idwybx2AbwDUADBNKrzPxwsIgC0tLfGE5lvxnpRM1vWZQNpstniT3c7ZgBbMBPLUqVPxQlaTxGxAW2SAOQDYAZwrLCz83u/3/0hySCbgEMlckUc1i2Or5TFszwB8DOBXsSMvLw+CIIgniG8DWAHgPQDvAngLgCYYSdwAzgH4GcDEtMeOMlQT/NJfBPc6wwAGAdwKJoG+0METE5LPcQD3gu28XGf/DABdqTd7uxPVLgAAAABJRU5ErkJggg==');
}
