body {
    background-color: #333;

    padding: 0px;
    padding-top: 200px;
    display: -webkit-flex;
    -webkit-justify-content: center;
}

.container {
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

#cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;

    /*border: 1px solid white;*/
}

.autoRolling{
    /* animation */
    animation-name: rolling;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#cube figure {
	/* box */
    width: 196px;
    height: 196px;
    display: block;
    border: 5px solid white;
    position: absolute;

    /* position */
    margin-top:0px;
    margin-left:0px;

	/* font */
    color: white;
    display: -webkit-flex;
    -webkit-align-items: center;
  	-webkit-justify-content: center;
	font-weight: bolder;;
	font-size: 72px;

}

.background{
    background-color: black;
}

#cube { transform: rotateY( 0deg ) rotateX( 0deg ) translateZ( -100px ); }

#cube .front  { transform: rotateY(   0deg ) translateZ( 100px ); }
#cube .right  { transform: rotateY(  90deg ) translateZ( 100px ); }
#cube .left   { transform: rotateY( -90deg ) translateZ( 100px ); }
#cube .back   { transform: rotateX( 180deg ) translateZ( 100px ); }
#cube .top    { transform: rotateX(  90deg ) translateZ( 100px ); }
#cube .bottom { transform: rotateX( -90deg ) translateZ( 100px ); }


@keyframes rolling {
    from { transform: rotateY( 0deg ) rotateX( 0deg ); }
    to { transform: rotateY( 360deg ) rotateX( 360deg ); }

}

