#ctrl{
	/*background-color: green;*/
	position: fixed;
	bottom: 0px;
	right: 0px;

	height: 40px;
	/*width: 300px;*/

	display: -webkit-flex;
    -webkit-align-items: center;
  	-webkit-justify-content: center;
}

#ctrl button{
	height: 30px;
	margin: 6px;
}

#cube.show1 { transform: translateZ( -100px ) rotateY(    0deg ); }
#cube.show2 { transform: translateZ( -100px ) rotateX( -180deg ); }
#cube.show3 { transform: translateZ( -100px ) rotateY(  -90deg ); }
#cube.show4 { transform: translateZ( -100px ) rotateY(   90deg ); }
#cube.show5 { transform: translateZ( -100px ) rotateX(  -90deg ); }
#cube.show6 { transform: translateZ( -100px ) rotateX(   90deg ); }